# R stuff
**/*.RData
**/*.Rhistory
# vscode
.vscode/
# cache
**/__pycache__/
# Docker
container
# config files
config.json
embeddings/config_decode.json
# OS
**/*.icloud
**/*.DS_Store
#Other
notebooks/
**/*.tar.gz