# R stuff
**/*.RData
**/*.Rhistory

# vscode
.vscode/

# cache
**/__pycache__/

# Docker
container

# OS
**/*.icloud
**/*.DS_Store

#Other
notebooks/analyze_model_potts.ipynb
notebooks/potts_nophylo_check.ipynb
reconstruct_anc_pf00565.ipynb
train.ipynb

#Figrues
figures/*

#Manuscript
*.pdf

# Misc
**/*.tar.gz
other_data_sources.md