coupled/processed/
coupled/raw/
independent/processed/
independent/raw/
real/metadata
real/raw
real/processed/PF*
potts/raw
potts/processed
potts/pf00565*
potts/colab*
vae/raw
vae/processed
ardca/raw
ardca/processed
ardca/pf00565_model.jld2
potts_new