coupled/processed/
coupled/raw/
independent/processed/1250/*
independent/processed/5000/*
independent/processed/10000/*
independent/raw/1250/*
independent/raw/5000/*
real/metadata/*
real/raw/*
real/processed/PF*
