coupled/processed/
coupled/raw/
independent/processed/
independent/raw/
real/metadata
real/raw
real/processed/PF*
potts/raw
potts/processed
potts/pf00565_resampled_chains.fasta
potts/pf00565_weights.dat
vae/raw
vae/processed
